.imperio {background-color: red;}
.rebeldes{background-color: blue;}
#darth{font-size: 50px;}
#luke{font-style: italic;}
#soldados{border-style: dashed; letter-spacing: 30px;}
.apoyo{text-align:center;}
.nave{text-transform: uppercase;}
#droides{text-align: center;}
